.banner{
    margin-top: 5px;
}
.main-wrapper{
    width: 100%;
    background: #f7f7f7;

}
.main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0;
}
.main .title{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.main .title span{
    color: #003f43;
    display: flex;
    align-items: center;
}
.main .title span i{
    color: #666666;
}
.main .center{
    border-top: 6px solid #003f43;
    min-height: 1324px;
    background: #fff;
    box-shadow: 0 4px 30px rgba(227,232,232,0.5);
    display: flex;
}
.main .center .left{
    float: left;
    width: 208px;
    border-right: 2px solid #003F43;
    box-sizing: border-box;
}
.main .center .left>h4{
    font-size: 20px;
    color: #003F43;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 59px;
    line-height: 59px;
    text-align: center;
    border-bottom: 6px solid #003f43;
    cursor: pointer;
}
.main .center .left>h4 i{
    font-size:2rem;
    float: right;
    display: none;
}
.main .center .left ul.active{
    display: block;
}
.main .center .left ul li{
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    height: 59px;
    line-height: 59px;
    text-align: center;
}
.main .center .left ul li:first-child a{
    /*	font-size: 20px;
        color: #003F43;
        font-weight: bold;*/
}
.main .center .left ul li:first-child:hover{
    /*	border: none;*/
}
.main .center .left ul li:hover{
    border-left:4px solid #003F43 ;
}
.main .center .left ul li a{
    display: block;
    width: 100%;
    height: 59px;
    line-height: 59px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    color: #666;
    font-size: 16px;
}
.main .center .left ul li.on{
    border-left:4px solid #003F43 ;
}
.main .center .left ul li.on a{
    color: #003F43;
    font-weight: bold;
}
.main .center .left ul li a:hover{
    color: #003F43;
}

.main .center .right{
    width: 989px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding:0 40px 40px 40px;
}

.main .center .right .all ul li{
    min-height:280px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 0;
    border-bottom: 1px dashed #121212;
}
.main .center .right .all ul li .pic{
    width:25%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/*.main .center .right .all ul li .pic .img{
	width: auto;
}*/
.main .center .right .all ul li .word{
    width:75%;
    box-sizing: border-box;
    padding-left: 0.5rem;
}
.main .center .right .all ul li .word p{
    font-size: 16px;
    color: #333;
    line-height:32px;
}
.main .center .right .all ul li .word p i{
    color: #ed6c00;
}
.main .center .right .page{
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}
.main .center .right .page span{
    display:inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #fafafa;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #666;
    margin: 0 10px;
}
.main .center .right .page span.active{
    background: #003F43;
    border: 1px solid #88a5a7;
    color: #fff;
}


/*@media screen and (max-width:1200px) {
	.main .center{
		flex-direction: column;
	}
	.main .center .left{
		width: 100%;
		border-right: none;
	}
	.main .center .right{
		width: 100%;
	}
	.main .center .left ul{
		display: none;
	}
	.main .center .left ul li:hover{
		border: none;
	}
	.main .center .left>h4 {
		text-align: left;
	}
	.main .center .left>h4 i{
		display: block;
	}
}
@media screen and (max-width:768px){
	.main .center .right .all ul li{
		flex-direction: column;
		align-items: center;
	}
	.main .center .right .all ul li .word{
		width: 100%;
	}
	.main .center .right{
		padding: 0 1rem;
	}
        .main{
            padding: 0
        }
}*/
