<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="./images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title>LJH Research Group </title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/mcommon.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>
</head>

<body style="">

<div class="nav-wrapper">
    <div class="nav">
        <div class="pc-nav">
            <ul>
                <li class="">
                    <a href="/mIndex?id=0">Home</a>
                </li>

                <li class="">

                    <a href="/mIndex?id=1">UserInfo</a>

                </li>
                <li class="">

                    <a href="/mIndex?id=2">Alumni</a>

                </li>
                <li class="">

                    <a href="/mIndex?id=3">Picture</a>

                </li>
                <li class="">

                    <a href="/mIndex?id=4">Publication</a>

                </li>
                <li class="">

                    <a href="/mIndex?id=5">Banner</a>

                </li>
                <li class="">

                    <a href="/mIndex?id=6">News</a>

                </li>
            </ul>
        </div>
    </div>
</div>


<div class="footer">
    <div class="contact">
        <p>
            Contact
        </p>
        <ul>
            <li>
                <p>Email: linjh@sustech.edu.cn</p>
            </li>
            <li>
                <p>The research building 2 room 210,Southern University of Science and Technology, No 1088, Xueyuan Rd., Xili, Nanshan District, Shenzhen, Guangdong, China</p>
            </li>
        </ul>
        <span style="font-size: 13px; color: #ffffff">JunHao Lin Group © 2019</span>
    </div>
    <div class="link">
        <p>
            Links
        </p>
        <ul>
            <li>
                <a href="http://www.sustech.edu.cn">SUSTech</a>
            </li>
            <li>
                <a href="http://phy.sustech.edu.cn">The Department of Physics</a>
            </li>

        </ul>

    </div>
</div>

</body>
</html>