<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="./images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title th:if="${language}">Junhao Lin's group - Advanced Low Dimensional Materials Lab</title>
    <title th:unless="${language}">林君浩教授课题组-先进低维材料实验室</title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/memberinfo.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>

</head>
<body style="">




<div class="nav-wrapper" id="navBar">
    <div class="nav">
        <div class="header">
            <img src="/images/logo.png">
            <h5 style="margin-top: 9px;" class="teg" th:if="${language}">Advanced Low Dimensional Materials Lab</h5>
            <h5 th:unless="${language}">先进低维材料实验室</h5>
        </div>
        <div class="pc-nav">
            <ul>
                <li class="" onclick="nav(0)">
                    <a class="ch" th:if="${language}">Home</a>
                    <a class="ch" th:unless="${language}">主页</a>
                </li>
                <li class="dropdown">
                    <a th:if="${language}">People</a>
                    <a class="zh" th:unless="${language}">人员</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element"  onclick="nav(11)">
                            <a th:if="${language}">The group leader</a>
                            <a th:unless="${language}">团队领导</a>
                        </li>
                        <li class="dropdown-element"  onclick="nav(12)">
                            <a th:if="${language}">Current Members</a>
                            <a th:unless="${language}">成员名单</a>
                        </li>
                        <li class="dropdown-element" onclick="nav(13)">
                            <a th:if="${language}">Picture</a>
                            <a th:unless="${language}">团队图片</a>
                        </li>
                    </ul>
                </li>
                <li class="" onclick="nav(2)">
                    <a th:if="${language}">Research</a>
                    <a class="ch" th:unless="${language}">研究</a>
                </li>
                <li class="" onclick="nav(9)">
                    <a class="mh" th:if="${language}">Resources</a>
                    <a class="mh" th:unless="${language}">实验室设备</a>
                </li>
                <li class=""  onclick="nav(3)">
                    <a class="mh" th:if="${language}">Publication</a>
                    <a class="ch" th:unless="${language}">文章</a>
                </li>
                <li class="" onclick="nav(4)">
                    <a class="lh" th:if="${language}">Opening</a>
                    <a class="ch" th:unless="${language}">招聘</a>
                </li>
                <li class="" onclick="nav(5)">
                    <a class="ch" th:if="${language}">News</a>
                    <a class="ch" th:unless="${language}">新闻</a>
                </li>
                <li class="" onclick="nav(6)">
                    <a class="zh" th:if="${language}">Contact</a>
                    <a class="ch" th:unless="${language}">联系</a>
                </li>
                <li th:if="${language}"onclick="nav(7)">
                    <a class="ch" th:if="${language}">中文</a>
                </li>
                <li th:unless="${language}" onclick="nav(8)">
                    <a class="zh" th:unless="${language}">English</a>
                </li>
            </ul>
        </div>
        <!--<div class="search">-->
        <!--<form action="./index?id=" method="post">-->
        <!--<input type="text" placeholder="Enter keyword here..." name="key">-->
        <!--<input type="submit" value="">-->
        <!--</form>-->
        <!--</div>-->
    </div>
</div>

<div class="banner">
    <a href="">
        <picture>
            <img srcset="bg_0.jpg">
        </picture>
    </a>
</div>
<div class="main-wrapper">
    <div class="main">
        <div class="title">


					<span>
						<img src="/images/home.png" alt="">
                                                <i><a href="/" style="color: #666666" th:if="${language}">Home</a>
                                                    <a href="/" style="color: #666666" th:unless="${language}">主页</a>&gt;&gt;</i>
					</span>
            <span th:if="${language}">Current memebers</span>
            <span th:unless="${language}">成员名单</span>
        </div>
        <div class="center">
            <div class="lefto">
                <ul>
                    <li>
                        <a th:if="${language}" href="/index?id=11">The group leader</a>
                        <a th:unless="${language}" href="/index?id=11">团队领导</a>

                    </li>
                    <li class="active">
                        <a th:if="${language}" href="/index?id=12">Current Members</a>
                        <a th:unless="${language}" href="/index?id=12">成员名单</a>
                    </li>
                    <li>
                        <a th:if="${language}" href="/index?id=13">Picture</a>
                        <a th:unless="${language}" href="/index?id=13">团队图片</a>
                    </li>
                </ul>
            </div>
            <div class="righto">
                <div class="name">
                    <p style="z-index: 5; color: #003f43; font-weight: bold; font-size: 22px;" th:text="${userInfoBean.getRealName()}"></p></div>
                <div style="border-top: 1px solid; display: flex; padding-top: 10px; flex-wrap: wrap;">
                    <div style="margin-right: 10px; height: 250px; width: 200px;">
                        <img th:src="${userInfoBean.getImgSrc()}" style="object-fit: fill; width: 100%; height: 100%;"></div>
                    <div style="font-size: 18px;margin-top: 90px;">
                        <p style="padding-bottom: 15px; color: #003f43; " th:text="${userInfoBean.getRealName()} +','"></p>
                        <p style="padding-bottom: 15px; color: #003f43; " th:if="${language}" th:text="'Offices: '+${userInfoBean.getOffice()}"></p>
                        <p style="padding-bottom: 15px; color: #003f43; " th:unless="${language}" th:text="'办公室: '+${userInfoBean.getOffice()}"></p>
                        <p style="padding-bottom: 15px; color: #003f43; " th:if="${language}" th:text="'Email: '+${userInfoBean.getEmail()}"></p>
                        <p style="padding-bottom: 15px; color: #003f43; " th:unless="${language}" th:text="'邮箱: '+${userInfoBean.getEmail()}">></p>
                        <p style="padding-bottom: 15px; color: #003f43; " th:if="${language}" th:text="'Address: '+${userInfoBean.getAddress()}"></p>
                        <p style="padding-bottom: 15px; color: #003f43; " th:unless="${language}" th:text="'地址: '+${userInfoBean.getAddress()}"></p>
                    </div>

                    <div style="width: 100%">
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:if="${language}">Brief Introduction</p>
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:unless="${language}">简介</p>
                        <p style="width: 100%; margin-top: 10px; font-size: 16px;" th:text="${userInfoBean.getBrief()}"></p>
                    </div>

                    <div style="width: 100%">
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:if="${language}">Research Interests</p>
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:unless="${language}">研究方向</p>
                        <p style="width: 100%; margin-top: 10px; font-size: 16px;"  th:each="interestBean:${interestBeanList}" th:text="'◆ '+${interestBean.getInterest()}">
                        </p>
                    </div>

                    <div style="width: 100%">
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:if="${language}">Educational Background</p>
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:unless="${language}">教育背景</p>
                        <p style="width: 100%; margin-top: 10px; font-size: 16px;"  th:each="educationBean:${educationBeanList}" th:text="'◆ '+${educationBean.getEducation()}">
                        </p>
                    </div>

                    <div style="width: 100%">
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:if="${language}">Professional Experience</p>
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:unless="${language}">工作经历</p>
                        <p style="width: 100%; margin-top: 10px; font-size: 16px;"  th:each="experienceBean:${experienceBeanList}" th:text="'◆ '+${experienceBean.getExperience()}">
                    </div>

                    <div style="width: 100%">
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:if="${language}">Honors &amp; Awards</p>
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:unless="${language}">荣誉和奖项</p>
                        <p style="width: 100%; margin-top: 10px; font-size: 16px;"  th:each="awardBean:${awardBeanList}" th:text="'◆ '+${awardBean.getAward()}">
                    </div>

                    <div style="width: 100%">
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:if="${language}">Selected Publication</p>
                        <p style="width: 100%; margin-top: 10px; color: darkcyan; font-size:18px" th:unless="${language}">发表论文</p>
                        <p style="width: 100%; margin-top: 10px; font-size: 16px;"  th:each="publicationBean:${publicationBeanList}" th:utext="'('+${publicationBeanList.indexOf(publicationBean)+1}+') '+${publicationBean.getContent()}+' '+${publicationBean.getAuthor()}+' '+${publicationBean.getPublisher()}">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="contact">
        <p th:if="${language}">
            Contact
        </p>
        <p th:unless="${language}">
            联系方式
        </p>
        <ul>
            <li>
                <p th:if="${language}">Email: linjh@sustech.edu.cn</p>
                <p th:unless="${language}">邮箱: linjh@sustech.edu.cn</p>

            </li>
        </ul>
        <span style="font-size: 13px; color: #000000">JunHao Lin Group © 2019</span>
    </div>
    <div class="link">
        <p th:if="${language}">
            Links
        </p>
        <p th:unless="${language}">
            友情链接
        </p>
        <ul>
            <li>
                <a th:if="${language}" href="http://www.sustech.edu.cn">SUSTech</a>
                <a th:unless="${language}" href="http://www.sustech.edu.cn">南方科技大学</a>

            </li>
            <li>
                <a th:if="${language}" href="http://phy.sustech.edu.cn">The Department of Physics</a>
                <a th:unless="${language}" href="http://phy.sustech.edu.cn">南科大物理系</a>
            </li>

        </ul>

    </div>
</div>

<div class="gotop">
    <img src="/images/gotop.png">
</div>

<script>
    $(function () {

        var swiper = new Swiper('.swiper-container1', {
            autoplay: true,//等同于以下设置
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            }
        });

        var swiper = new Swiper('.swiper-container2', {
            autoplay: true,//等同于以下设置
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            }
        });
    })
</script>
<script type="text/javascript">
    $(function () {

        $(".main .center .righto .person .left .bottom ul li").click(function () {
            var m = $(this).index();
            $(".main .center .righto .person .right .bot_list .bottom").eq(m).show().siblings().hide();
        })


    })
</script>
<script src="/js/navclick.js"></script>

</body>
</html>