<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="/images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title>LJH Research Group </title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/member.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>

<div class="header-wrapper">
    <div class="header">
        <div class="logo">
            <a href="http://www.sustc.edu.cn/en/">
                <img src="./images/201809011747282038.png" alt="LOGO">
            </a>
        </div>
        <h1>LJH Research Group</h1>
    </div>
</div>

<div class="nav-wrapper">
    <div class="nav">
        <div class="pc-nav">
            <ul>
                <li class="">
                    <a href="/index?id=0">Home</a>
                </li>
                <li class="dropdown">

                    <a href="/index?id=1">
                        Group </a>
                    <ul class="dropdown-menu">
                        <li class="">

                            <a href="/index?id=11">The group leader</a>

                        </li>
                        <li class="">

                            <a href="/index?id=12">Current Members</a>

                        </li>
                        <li class="">

                            <a href="/index?id=13">Group pictures</a>

                        </li>
                        <li class="">

                            <a href="/index?id=14">Alumni</a>

                        </li>
                    </ul>
                </li>
                <li class="">

                    <a href="/index?id=2">Research</a>

                </li>
                <li class="">

                    <a href="/index?id=3">Publications</a>

                </li>
                <li class="">

                    <a href="/index?id=4">Lab Resources</a>

                </li>
                <li class="">

                    <a href="/index?id=5">News</a>

                </li>
                <li class="">

                    <a href="/index?id=6">Contact us</a>

                </li>
                <li class="">
                    <a href="/index?id=7">Login</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <form action="./index?id=" method="post">
                <input type="text" placeholder="Enter keyword here..." name="key">
                <input type="submit" value="">
            </form>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div class="main">
        <div class="title">


					<span>
						<img src="/themes/nfkj/public/assets/images/home.png" alt="">
                                                <i><a href="/portal/list/index.html?id=74" style="color: #666666">Home</a> &gt;&gt;</i>
					</span>
            <span>Current  Members</span>

        </div>
        <div class="center">
            <div class="left">
                <ul>
                    <li>
                        <a href="/index?id=11">The group leader</a>
                    </li>
                    <li class="active">
                        <a href="/index?id=12">Current  Members</a>
                    </li>
                    <li>
                        <a href="/index?id=13">Group pictures</a>
                    </li>
                    <li>
                        <a href="/index?id=14">Alumni</a>
                    </li>

                </ul>
            </div>
            <div class="right">


                <div class="one">
                    <div class="title">
                        <span>Research Scientists/Research Professors/Visiting Scholars</span>
                        <!--<small>Research Scientists/Research Professors/Visiting Scholars</small>-->
                    </div>
                    <div class="all">
                        <ul>

                            <li><a href="/portal/article/index.html?id=113&amp;cid=108">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20181229/201812291107246250.jpg" alt="Dr. Dongsheng  HE">
                                </div>
                                <div class="word">
                                    <h5> Dr. Dongsheng  HE</h5>
                                    <p>
                                    </p><p>Office：Rm.208, Material Characterization and Preparation Center</p>
                                    <p>Email：heds@sustc.edu.cn</p>
                                    <p><br></p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=114&amp;cid=108">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071451309483.jpg" alt="Dr. Lin XIE">
                                </div>
                                <div class="word">
                                    <h5> Dr. Lin XIE</h5>
                                    <p>
                                    </p><p><span></span></p>
                                    <p><span style="font-family: arial, helvetica, sans-serif;">Office：Rm.121, Research Building 2</span></p>
                                    <p><span style="font-family: arial, helvetica, sans-serif;">Email：xiel3@sustc.edu.cn</span></p>
                                    <p><br></p>
                                    <p><span style="white-space: pre;"></span><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=148&amp;cid=108">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071459485819.jpg" alt="Dr.Rui GU">
                                </div>
                                <div class="word">
                                    <h5> Dr.Rui GU</h5>
                                    <p>
                                    </p><p>Office：Rm.208, Material Characterization and Preparation Center</p>
                                    <p>Email：gur@sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=149&amp;cid=108">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071505079211.jpg" alt="Dr.Yang QIU">
                                </div>
                                <div class="word">
                                    <h5> Dr.Yang QIU</h5>
                                    <p>
                                    </p><p>Office：Rm.208, Material Characterization and Preparation Center&nbsp;</p>
                                    <p>Email：qiuy@sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=472&amp;cid=108">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20190111/201901111003253336.png" alt="Dr. Yunsheng DENG">
                                </div>
                                <div class="word">
                                    <h5> Dr. Yunsheng DENG</h5>
                                    <p>
                                    </p><p>Offfice：Rm.208, Material Characterization and Preparation Center</p>
                                    <p>Email：dengys@sustc.edu.cn</p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=520&amp;cid=108">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20190417/201904172053321366.jpg" alt="Dr. Xiaokai HU">
                                </div>
                                <div class="word">
                                    <h5> Dr. Xiaokai HU</h5>
                                    <p>
                                    </p><p>Office：Rm.207, Research Building 2</p>
                                    <p><span style="font-family: arial, helvetica, sans-serif;">Email：xiaokai.hu@deakin.edu.au</span></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                        </ul>
                    </div>
                </div>


                <div class="one">
                    <div class="title">
                        <span>Postdocs</span>
                        <!--<small>Postdocs</small>-->
                    </div>
                    <div class="all">
                        <ul>

                            <li><a href="/portal/article/index.html?id=154&amp;cid=109">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071526046674.jpg" alt="Dr. BinBin JIANG">
                                </div>
                                <div class="word">
                                    <h5> Dr. BinBin JIANG</h5>
                                    <p>
                                    </p><p style="text-align: justify;">Office：Rm.217, Research Building 2</p>
                                    <p>Email：jiangbb@sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=153&amp;cid=109">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071522443580.jpg" alt="Dr. Bin ZHU">
                                </div>
                                <div class="word">
                                    <h5> Dr. Bin ZHU</h5>
                                    <p>
                                    </p><p>Office：Rm.217, Research Building 2</p>
                                    <p>Telephone ：15256083978</p>
                                    <p>Email：zhub3@sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=460&amp;cid=109">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20190108/201901080954006754.jpg" alt="Dr. Jianghe FENG">
                                </div>
                                <div class="word">
                                    <h5> Dr. Jianghe FENG</h5>
                                    <p>
                                    </p><p>Office:Rm.217, Research Building 2</p>
                                    <p>Email: fengjh@sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=528&amp;cid=109">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20190529/201905292003011782.png" alt="Dr. Wu WANG">
                                </div>
                                <div class="word">
                                    <h5> Dr. Wu WANG</h5>
                                    <p>
                                    </p><p style="white-space: normal; text-align: justify;">Office：Rm.217, Research Building 2</p>
                                    <p style="white-space: normal;">wangwu@hotmail.com</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                        </ul>
                    </div>
                </div>


                <div class="one">
                    <div class="title">
                        <span>Graduate students/Visiting Students</span>
                        <!--<small>Graduate students/Visiting Students</small>-->
                    </div>
                    <div class="all">
                        <ul>

                            <li><a href="/portal/article/index.html?id=115&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071529325097.jpg" alt="Xiao XU">
                                </div>
                                <div class="word">
                                    <h5> Xiao XU</h5>
                                    <p>
                                    </p><p>Office：Rm. 224B，Research Building 2</p>
                                    <p>Email：11649013@mail.sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=112&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071532367000.jpg" alt="Juan CUI">
                                </div>
                                <div class="word">
                                    <h5> Juan CUI</h5>
                                    <p>
                                    </p><p>Office: Rm.217, Research Building 2</p>
                                    <p>Email: 11750016@mail.sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=155&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071535261706.jpg" alt="Yong YU">
                                </div>
                                <div class="word">
                                    <h5> Yong YU</h5>
                                    <p>
                                    </p><p>Office：Rm.217, Research Building 2</p>
                                    <p>Email：yuyong1991bj@sina.com</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=157&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071542258358.jpg" alt="Yi HUANG">
                                </div>
                                <div class="word">
                                    <h5> Yi HUANG</h5>
                                    <p>
                                    </p><p>Office：Rm. 101，Research Building 2</p>
                                    <p>Email：11849466@mail.sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=158&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071546501315.jpg" alt="Yi ZHOU">
                                </div>
                                <div class="word">
                                    <h5> Yi ZHOU</h5>
                                    <p>
                                    </p><p>Office：Rm. 224B，Research Building 2</p>
                                    <p>Email：yizhou2019@gmail.com</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=527&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20190528/201905282029247594.jpg" alt="Baohai JIA">
                                </div>
                                <div class="word">
                                    <h5> Baohai JIA</h5>
                                    <p>
                                    </p><p style="white-space: normal;">Office：Rm. 101，Research Building 2</p>
                                    <p style="white-space: normal;">Email：jiabh@mail.sustc.edu.cn</p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=159&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180907/201809071550318901.jpg" alt="Xin SUN">
                                </div>
                                <div class="word">
                                    <h5> Xin SUN</h5>
                                    <p>
                                    </p><p>Office：Rm. 225B, Research Building 2</p>
                                    <p>Email：11749168@mail.sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=461&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20190108/201901081646466599.jpg" alt="Xixi LIU">
                                </div>
                                <div class="word">
                                    <h5> Xixi LIU</h5>
                                    <p>
                                    </p><p style="white-space: normal;">Office：Rm. 101，Research Building 2</p>
                                    <p style="white-space: normal;">Email：11849273@mail.sustc.edu.cn</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=462&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20190108/201901081659312507.png" alt="Zuteng GUO">
                                </div>
                                <div class="word">
                                    <h5> Zuteng GUO</h5>
                                    <p>
                                    </p><p style="white-space: normal;">Office：Rm. 101，Research Building 2</p>
                                    <p style="white-space: normal;">Email：GTengeng@163.com</p>
                                    <p><br></p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                            <li><a href="/portal/article/index.html?id=463&amp;cid=110">
                                <div class="pic">
                                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20190108/201901081708424302.png" alt="Zhong SHU">
                                </div>
                                <div class="word">
                                    <h5> Zhong SHU</h5>
                                    <p>
                                    </p><p>office：Rm.101, research building 2</p>
                                    <p>Email：&nbsp;11849411@mail.sustc.edu.cn&nbsp;</p>
                                    <p></p>
                                </div>
                            </a>

                            </li>


                        </ul>
                    </div>
                </div>
                <div class="one two">
                    <div class="title">
                        <span>Undergraduate students</span>
                        <!--<small>Undergraduate students</small>-->
                    </div>
                    <div class="all">
                        <ul>

                            <li>

                                <h5>Yonghan  WU</h5>
                                <p>
                                </p><p>B.S. Southern University of Science technology, 2015</p>
                                <p>Email: 11510913@mail.sustc.edu.cn</p>
                                <p><br></p>
                                <p></p>
                            </li>


                            <li>

                                <h5>Qing  LOU</h5>
                                <p>
                                </p><p>B.S. Southern University of Science technology, 2016</p>
                                <p>Email: 11610713@mail.sustc.edu.cn</p>
                                <p><br></p>
                                <p></p>
                            </li>


                            <li>

                                <h5>Yifan  WANG</h5>
                                <p>
                                </p><p>B.S. Southern University of Science technology, 2016</p>
                                <p>Email: 11610510@mail.sustc.edu.cn</p>
                                <p><br></p>
                                <p></p>
                            </li>


                            <li>

                                <h5>Yao TONG</h5>
                                <p>
                                </p><p>B.S. Southern University of Science technology, 2016</p>
                                <p>Email:11611912@mail.sustc.edu.cn</p>
                                <p><br></p>
                                <p></p>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>