<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header-wrapper">
    <div class="header">
        <div class="logo">
            <a href="http://www.sustc.edu.cn/en/">
                <img src="./images/201809011747282038.png" alt="LOGO">
            </a>
        </div>
        <h1>LJH Research Group</h1>
    </div>
</div>

<div class="nav-wrapper">
    <div class="nav">
        <div class="pc-nav">
            <ul>
                <li class="">
                    <a href="/index?id=0">Home</a>
                </li>
                <li class="dropdown">

                    <a href="/index?id=1">
                        Group </a>
                    <ul class="dropdown-menu">
                        <li class="">

                            <a href="/index?id=11">The group leader</a>

                        </li>
                        <li class="">

                            <a href="/index?id=12">Current Members</a>

                        </li>
                        <li class="">

                            <a href="/index?id=13">Group pictures</a>

                        </li>
                        <li class="">

                            <a href="/index?id=14">Alumni</a>

                        </li>
                    </ul>
                </li>
                <li class="">

                    <a href="/index.html?id=2">Research</a>

                </li>
                <li class="">

                    <a href="/index?id=3">Publications</a>

                </li>
                <li class="">

                    <a href="/index?id=4">Lab Resources</a>

                </li>
                <li class="">

                    <a href="/index?id=5">News</a>

                </li>
                <li class="">

                    <a href="/index?id=6">Contact us</a>

                </li>
                <li class="">
                    <a href="/index?id=7">Login</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <form action="./index?id=" method="post">
                <input type="text" placeholder="Enter keyword here..." name="key">
                <input type="submit" value="">
            </form>
        </div>
    </div>
</div>

</body>
</html>