<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="/images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title>Advanced Low dimensional Materials Lab </title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/opening.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<div class="banner">
    <a href="">
        <picture>
            <img srcset="bg_0.jpg">
        </picture>
    </a>
</div>

<div class="nav-wrapper" id="navBar">
    <div class="nav">
        <div class="header">
            <img src="/images/logo.png">
            <h5>Advanced Low dimensional Materials Lab</h5>
        </div>
        <div class="pc-nav">
            <ul>
                <li class="">
                    <a href="/index?id=0">Home</a>
                </li>
                <li class="dropdown">
                    <a href="/index?id=1" >
                        People </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element">
                            <a href="/index?id=11">The group leader</a>
                        </li>
                        <li class="dropdown-element">
                            <a href="/index?id=12">Current Members</a>
                        </li>
                        <li class="dropdown-element">
                            <a href="/index?id=13">Group pictures</a>
                        </li>
                        <li class="dropdown-element">
                            <a href="/index?id=14">Alumni</a>
                        </li>
                    </ul>
                </li>
                <li class="">

                    <a href="/index?id=2">Research</a>

                </li>
                <li class="">

                    <a href="/index?id=3">Publications</a>

                </li>
                <li class="">

                    <a href="/index?id=4">Opening</a>

                </li>
                <li class="">

                    <a href="/index?id=5">News</a>

                </li>
                <li class="">

                    <a href="/index?id=6">Contact us</a>

                </li>
                <!--<li class="">-->
                <!--<a href="/index?id=7">Login</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!--<div class="search">-->
        <!--<form action="./index?id=" method="post">-->
        <!--<input type="text" placeholder="Enter keyword here..." name="key">-->
        <!--<input type="submit" value="">-->
        <!--</form>-->
        <!--</div>-->
    </div>
</div>

<div class="main-wrapper">
    <div class="main">
        <div class="top">
            <img src="default.png">
            <div class="word">
                <p>TODO:</p>
            </div>

        </div>
        <ul>
            <li>
                <h5>TODO:&nbsp;&nbsp;&nbsp;————</h5>
                <div class="center">
                    <div class="word">
                        <p>TODO</p>
                    </div>
                    <div class="pic">
                        <img src="default.png" alt="default">
                    </div>
                </div>
            </li>
            <li>
                <h5>CMR materials&nbsp;&nbsp;&nbsp;————</h5>
                <div class="center">
                    <div class="pic">
                        <img src="default.png" alt="default">
                    </div>
                    <div class="word">
                        <p><span>TODO:</span></p>
                        <p><br></p>
                    </div>
                </div>
            </li>
            <li>
                <h5>TODO:&nbsp;&nbsp;&nbsp;————</h5>
                <div class="center">
                    <div class="word">
                        <p><span>TODO:</span></p>
                        <p><br></p>
                    </div>
                    <div class="pic">
                        <img src="default.png" alt="default">
                    </div>
                </div>
            </li>
            <li>
                <h5>TODO:&nbsp;&nbsp;&nbsp;————</h5>
                <div class="center">
                    <div class="pic">
                        <img src="default.png" alt="default">
                    </div>
                    <div class="word">
                        <p><span>TODO:</span></p>
                        <p><br></p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="contact">
        <p>
            Contact
        </p>
        <ul>
            <li>
                <p>Email: linjh@sustech.edu.cn</p>
            </li>
        </ul>
        <span style="font-size: 13px; color: #000000">JunHao Lin Group © 2019</span>
    </div>
    <div class="link">
        <p>
            Links
        </p>
        <ul>
            <li>
                <a href="http://www.sustech.edu.cn">SUSTech</a>
            </li>
            <li>
                <a href="http://phy.sustech.edu.cn">The Department of Physics</a>
            </li>

        </ul>

    </div>
</div>

<div class="gotop">
    <img src="/images/gotop.png">
</div>

<script type="text/javascript">
    $(function(){
        $(".main .two .laball .lab1 .back").click(function(){
            $(".main .two .laball .lab1").hide();
            $(".main .two .laball .lab2").show()
        })

        $(".main .two .laball .lab2 .back").click(function(){
            $(".main .two .laball .lab2").hide();
            $(".main .two .laball .lab1").show()
        })
    })
</script>
</body>
</html>