<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="./images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title th:if="${language}">Junhao Lin's group - Advanced Low Dimensional Materials Lab</title>
    <title th:unless="${language}">林君浩教授课题组-先进低维材料实验室</title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/opening.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>

</head>

<body>

<div class="nav-wrapper" id="navBar">
    <div class="nav">
        <div class="header">
            <img src="/images/logo.png">
            <h5 style="margin-top: 9px;" class="teg" th:if="${language}">Advanced Low Dimensional Materials Lab</h5>
            <h5 th:unless="${language}">先进低维材料实验室</h5>
        </div>
        <div class="pc-nav">
            <ul>
                <li class="" onclick="nav(0)">
                    <a class="ch" th:if="${language}">Home</a>
                    <a class="ch" th:unless="${language}">主页</a>
                </li>
                <li class="dropdown">
                    <a th:if="${language}">People</a>
                    <a class="zh" th:unless="${language}">人员</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element"  onclick="nav(11)">
                            <a th:if="${language}">The group leader</a>
                            <a th:unless="${language}">团队领导</a>
                        </li>
                        <li class="dropdown-element"  onclick="nav(12)">
                            <a th:if="${language}">Current Members</a>
                            <a th:unless="${language}">成员名单</a>
                        </li>
                        <li class="dropdown-element" onclick="nav(13)">
                            <a th:if="${language}">Picture</a>
                            <a th:unless="${language}">团队图片</a>
                        </li>
                    </ul>
                </li>
                <li class="" onclick="nav(2)">
                    <a th:if="${language}">Research</a>
                    <a class="ch" th:unless="${language}">研究</a>
                </li>
                <li class=""  onclick="nav(3)">
                    <a class="mh" th:if="${language}">Publication</a>
                    <a class="ch" th:unless="${language}">文章</a>

                </li>
                <li class="" onclick="nav(4)">
                    <a class="lh" th:if="${language}">Opening</a>
                    <a class="ch" th:unless="${language}">招聘</a>
                </li>
                <li class="" onclick="nav(5)">
                    <a class="ch" th:if="${language}">News</a>
                    <a class="ch" th:unless="${language}">新闻</a>
                </li>
                <li class="" onclick="nav(6)">
                    <a class="zh" th:if="${language}">Contact</a>
                    <a class="ch" th:unless="${language}">联系</a>
                </li>
                <li th:if="${language}"onclick="nav(7)">
                    <a class="ch" th:if="${language}">中文</a>
                </li>
                <li th:unless="${language}" onclick="nav(8)">
                    <a class="zh" th:unless="${language}">English</a>
                </li>
            </ul>
        </div>
        <!--<div class="search">-->
        <!--<form action="./index?id=" method="post">-->
        <!--<input type="text" placeholder="Enter keyword here..." name="key">-->
        <!--<input type="submit" value="">-->
        <!--</form>-->
        <!--</div>-->
    </div>
</div>

<div class="banner">
    <a href="">
        <picture>
            <img srcset="bg_0.jpg">
        </picture>
    </a>
</div>


<div class="main-wrapper">
    <div class="main">
        <div class="top">
            <img src="hire.png">
            <div class="word">
                <p>实验室长期招聘博士后，研究助理教授。有如下任一方向背景或研究经历优先考虑：</p>
                <p>1）透射电镜研究背景，物理、材料或相关专业博士学位</p>
                <p>2）CVD二维材料生长及样品转移背景</p>
                <p>3）拉曼光谱与原子力显微镜联用</p>
                <p style="padding-bottom: 17px">同时具有优秀的英文写作以及口语交流能力，博士研究期间有相关独立工作经验，以第一作者发表过高水平研究论文。研究助理教授原则上需要有博士后经历。</p>
                <p></p>
                <p>实验室也同时长期招聘科研助理，具体要求如下：</p>
                <p>1） 有物理、材料或相关专业硕士学位</p>
                <p>2） 有二维材料生长或转移相关经验优先考虑</p>
                <p style="padding-bottom: 17px">3） 有很好的团队合作精神，健康，热爱科研</p>
                <p></p>
                <p>有意向的申请人请将一份个人简历(含学习、工作和科研的经历), 以及主要科研成果清单（如论文论著、 成果证书或奖励），代表性研究论文1-2篇，发送到林老师邮箱。如果合适，会通知候选人进行后续面试。我们也欢迎优秀的博士生，硕士生，访问学生的申请。</p>
            </div>

        </div>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="contact">
        <p th:if="${language}">
            Contact
        </p>
        <p th:unless="${language}">
            联系方式
        </p>
        <ul>
            <li>
                <p th:if="${language}">Email: linjh@sustech.edu.cn</p>
                <p th:unless="${language}">邮箱: linjh@sustech.edu.cn</p>

            </li>
        </ul>
        <span style="font-size: 13px; color: #000000">JunHao Lin Group © 2019</span>
    </div>
    <div class="link">
        <p th:if="${language}">
            Links
        </p>
        <p th:unless="${language}">
            友情链接
        </p>
        <ul>
            <li>
                <a th:if="${language}" href="http://www.sustech.edu.cn">SUSTech</a>
                <a th:unless="${language}" href="http://www.sustech.edu.cn">南方科技大学</a>

            </li>
            <li>
                <a th:if="${language}" href="http://phy.sustech.edu.cn">The Department of Physics</a>
                <a th:unless="${language}" href="http://phy.sustech.edu.cn">南科大物理系</a>
            </li>

        </ul>

    </div>
</div>

<div class="gotop">
    <img src="/images/gotop.png">
</div>

<script type="text/javascript">
    $(function(){
        $(".main .two .laball .lab1 .back").click(function(){
            $(".main .two .laball .lab1").hide();
            $(".main .two .laball .lab2").show()
        })

        $(".main .two .laball .lab2 .back").click(function(){
            $(".main .two .laball .lab2").hide();
            $(".main .two .laball .lab1").show()
        })
    })
</script>
<script src="/js/navclick.js"></script>

</body>
</html>