<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="./images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title th:if="${language}">Junhao Lin's group - Advanced Low Dimensional Materials Lab</title>
    <title th:unless="${language}">林君浩教授课题组-先进低维材料实验室</title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/publication.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>

</head>

<body>


<div class="nav-wrapper" id="navBar">
    <div class="nav">
        <div class="header">
            <img src="/images/logo.png">
            <h5 style="margin-top: 9px;" class="teg" th:if="${language}">Advanced Low Dimensional Materials Lab</h5>
            <h5 th:unless="${language}">先进低维材料实验室</h5>
        </div>
        <div class="pc-nav">
            <ul>
                <li class="" onclick="nav(0)">
                    <a class="ch" th:if="${language}">Home</a>
                    <a class="ch" th:unless="${language}">主页</a>
                </li>
                <li class="dropdown">
                    <a th:if="${language}">People</a>
                    <a class="zh" th:unless="${language}">人员</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-element"  onclick="nav(11)">
                            <a th:if="${language}">The group leader</a>
                            <a th:unless="${language}">团队领导</a>
                        </li>
                        <li class="dropdown-element"  onclick="nav(12)">
                            <a th:if="${language}">Current Members</a>
                            <a th:unless="${language}">成员名单</a>
                        </li>
                        <li class="dropdown-element" onclick="nav(13)">
                            <a th:if="${language}">Picture</a>
                            <a th:unless="${language}">团队图片</a>
                        </li>
                    </ul>
                </li>
                <li class="" onclick="nav(2)">
                    <a th:if="${language}">Research</a>
                    <a class="ch" th:unless="${language}">研究</a>
                </li>
                <li class="" onclick="nav(9)">
                    <a class="mh" th:if="${language}">Resources</a>
                    <a class="mh" th:unless="${language}">实验室设备</a>
                </li>
                <li class=""  onclick="nav(3)">
                    <a class="mh" th:if="${language}">Publication</a>
                    <a class="ch" th:unless="${language}">文章</a>
                </li>
                <li class="" onclick="nav(4)">
                    <a class="lh" th:if="${language}">Opening</a>
                    <a class="ch" th:unless="${language}">招聘</a>
                </li>
                <li class="" onclick="nav(5)">
                    <a class="ch" th:if="${language}">News</a>
                    <a class="ch" th:unless="${language}">新闻</a>
                </li>
                <li class="" onclick="nav(6)">
                    <a class="zh" th:if="${language}">Contact</a>
                    <a class="ch" th:unless="${language}">联系</a>
                </li>
                <li th:if="${language}"onclick="nav(7)">
                    <a class="ch" th:if="${language}">中文</a>
                </li>
                <li th:unless="${language}" onclick="nav(8)">
                    <a class="zh" th:unless="${language}">English</a>
                </li>
            </ul>
        </div>
        <!--<div class="search">-->
        <!--<form action="./index?id=" method="post">-->
        <!--<input type="text" placeholder="Enter keyword here..." name="key">-->
        <!--<input type="submit" value="">-->
        <!--</form>-->
        <!--</div>-->
    </div>
</div>

<div class="banner">
    <a href="">
        <picture>
            <img srcset="bg_0.jpg">
        </picture>
    </a>
</div>

<div class="main-wrapper">
    <div class="main">
        <div class="center">
            <div class="left">
                <!--左侧菜单栏-->
                <h4 th:if="${language}">Publication<i th:if="language">+</i></h4>
                <h4 th:unless="${language}">文章<i th:unless="language">+</i></h4>
                <ul>

                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=0" th:if="${language}">All</a>
                        <a href="/publicationPage?page=1&amp;year=0" th:unless="${language}">所有</a>

                    </li>

                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=2020">2020</a>
                    </li>

                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=2019">2019</a>
                    </li>


                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=2018">2018</a>
                    </li>


                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=2017">2017</a>
                    </li>


                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=2016">2016</a>
                    </li>


                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=2015">2015</a>
                    </li>


                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=2014">2014</a>
                    </li>


                    <li class="">
                        <a href="/publicationPage?page=1&amp;year=2013">2013</a>
                    </li>

                </ul>
            </div>
            <div class="right">
                <div class="all">
                    <ul>
                        <li th:each="publicationBean:${publicationBeanList}">
                            <div class="pic">
                                <img th:src="${publicationBean.getImgSrc()}" th:alt="${publicationBean.getPid()}">
                            </div>
                            <div class="word">
                                <p style="text-align: justify;"><span style="font-family: times new roman;">
                                    <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">
                                        <strong>
                                            <span style="font-size: 18px;"><p th:text="${publicationBeanStat.count+((page - 1)*20)}+'.'"></p>
                                            </span>
                                        </strong>
                                    </span>
                                    <span style="font-size: 18px;">
                                        <span style="color: rgb(0, 0, 0); font-size: 14px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; text-align: start; text-indent: 0px; text-transform: none; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); display: inline !important; float: none;">
                                            <span style="font-size: 16px;">
                                            </span>
                                        </span>
                                    </span>
                                    <span style="font-family: times new roman; font-size: 18px;">
                                        <strong th:text="${publicationBean.getContent()}"></strong>
                                        <p th:utext="${publicationBean.getAuthor()}"></p>
                                        <i th:utext="${publicationBean.getPublisher()}"></i>
                                        <a style="color: #007aff" th:href="${publicationBean.getPdfUrl()}" target="_blank">(PDF)</a>
                                    </span>

                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="page">
                        <span>&lt;</span>
                        <span th:each="num:${pageList}">
                            <span th:if="${page} ne ${num}"><a th:href="'/publicationPage?page='+${num}+'&'+${year}" th:text="${num}"></a></span>
                            <span th:if="${page} eq ${num}" class="active"><a th:text="${num}"></a></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<div class="footer">
    <div class="contact">
        <p th:if="${language}">
            Contact
        </p>
        <p th:unless="${language}">
            联系方式
        </p>
        <ul>
            <li>
                <p th:if="${language}">Email: linjh@sustech.edu.cn</p>
                <p th:unless="${language}">邮箱: linjh@sustech.edu.cn</p>

            </li>
        </ul>
        <span style="font-size: 13px; color: #000000">JunHao Lin Group © 2019</span>
    </div>
    <div class="link">
        <p th:if="${language}">
            Links
        </p>
        <p th:unless="${language}">
            友情链接
        </p>
        <ul>
            <li>
                <a th:if="${language}" href="http://www.sustech.edu.cn">SUSTech</a>
                <a th:unless="${language}" href="http://www.sustech.edu.cn">南方科技大学</a>

            </li>
            <li>
                <a th:if="${language}" href="http://phy.sustech.edu.cn">The Department of Physics</a>
                <a th:unless="${language}" href="http://phy.sustech.edu.cn">南科大物理系</a>
            </li>

        </ul>

    </div>
</div>

<div class="gotop">
    <img src="/images/gotop.png">
</div>
<script src="/js/navclick.js"></script>



</body>
</html>