<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="/images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title>LJH Research Group </title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sresearch.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<div class="header-wrapper">
    <div class="header">
        <div class="logo">
            <a href="http://www.sustc.edu.cn/en/">
                <img src="./images/201809011747282038.png" alt="LOGO">
            </a>
        </div>
        <h1>LJH Research Group</h1>
    </div>
</div>

<div class="nav-wrapper">
    <div class="nav">
        <div class="pc-nav">
            <ul>
                <li class="">
                    <a href="/index?id=0">Home</a>
                </li>
                <li class="dropdown">

                    <a href="/index?id=1">
                        Group </a>
                    <ul class="dropdown-menu">
                        <li class="">

                            <a href="/index?id=11">The group leader</a>

                        </li>
                        <li class="">

                            <a href="/index?id=12">Current Members</a>

                        </li>
                        <li class="">

                            <a href="/index?id=13">Group pictures</a>

                        </li>
                        <li class="">

                            <a href="/index?id=14">Alumni</a>

                        </li>
                    </ul>
                </li>
                <li class="">

                    <a href="/index.html?id=2">Research</a>

                </li>
                <li class="">

                    <a href="/index?id=3">Publications</a>

                </li>
                <li class="">

                    <a href="/index?id=4">Lab Resources</a>

                </li>
                <li class="">

                    <a href="/index?id=5">News</a>

                </li>
                <li class="">

                    <a href="/index?id=6">Contact us</a>

                </li>
                <li class="">
                    <a href="/index?id=7">Login</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <form action="./index?id=" method="post">
                <input type="text" placeholder="Enter keyword here..." name="key">
                <input type="submit" value="">
            </form>
        </div>
    </div>
</div>

</body>
</html>