<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="/images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title>LJH Research Group </title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/css/resources.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<div class="header-wrapper">
    <div class="header">
        <div class="logo">
            <a href="http://www.sustc.edu.cn/en/">
                <img src="./images/201809011747282038.png" alt="LOGO">
            </a>
        </div>
        <h1>LJH Research Group</h1>
    </div>
</div>

<div class="nav-wrapper">
    <div class="nav">
        <div class="pc-nav">
            <ul>
                <li class="">
                    <a href="/index?id=0">Home</a>
                </li>
                <li class="dropdown">

                    <a href="/index?id=1">
                        Group </a>
                    <ul class="dropdown-menu">
                        <li class="">

                            <a href="/index?id=11">The group leader</a>

                        </li>
                        <li class="">

                            <a href="/index?id=12">Current Members</a>

                        </li>
                        <li class="">

                            <a href="/index?id=13">Group pictures</a>

                        </li>
                        <li class="">

                            <a href="/index?id=14">Alumni</a>

                        </li>
                    </ul>
                </li>
                <li class="">

                    <a href="/index?id=2">Research</a>

                </li>
                <li class="">

                    <a href="/index?id=3">Publications</a>

                </li>
                <li class="">

                    <a href="/index?id=4">Lab Resources</a>

                </li>
                <li class="">

                    <a href="/index?id=5">News</a>

                </li>
                <li class="">

                    <a href="/index?id=6">Contact us</a>

                </li>
                <li class="">
                    <a href="/index?id=7">Login</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <form action="./index?id=" method="post">
                <input type="text" placeholder="Enter keyword here..." name="key">
                <input type="submit" value="">
            </form>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div class="main">
        <div class="one">
            <span><i>Shenzhen Key Lab of Thermoelectric Materials</i></span>
            <div class="lab1">
                <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180901/201809011712258592.png" alt="Shenzhen Key Lab of Thermoelectric Materials">

                <div class="go">
                    <a href="/portal/list/index.html?id=85">
                        <img src="/themes/nfkj/public/assets/images/lableft.png" alt="">
                        <!--<span>Shenzhen Key Lab for Thermoelectric Materials</span>-->
                        <span>Shenzhen Key Lab of Thermoelectric Materials</span>
                    </a>
                </div>

            </div>
            <h5></h5>
        </div>

        <div class="two" id="Lab">
            <span><i>Pico Center</i></span>
            <div class="laball">
                <div class="lab1">
                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180901/201809011720399990.png" alt="">

                    <div class="go1">
                        <a href="/portal/list/index.html?id=86">
                            <span>High Resolution TEM</span>
                            <img src="/themes/nfkj/public/assets/images/labtop.png" alt="">
                        </a>
                    </div>


                    <div class="go1 go2">
                        <a href="/portal/list/index.html?id=87">
                            <img src="/themes/nfkj/public/assets/images/lableft.png" alt="">
                            <span>Focused lon Beam</span>
                        </a>
                    </div>

                    <div class="back">
                        <a>
                            Back

                        </a>
                    </div>
                </div>
                <div class="lab2">
                    <img src="http://jqhphy.sustech.edu.cn/upload/portal/20180901/201809011720471728.png" alt="" class="img1">
                    <img src="/themes/nfkj/public/assets/images/lablab.png" class="img2">

                    <div class="go1 goone">
                        <a href="/portal/list/index.html?id=88">
                            <span>Double Cs-corrected TEM</span>
                            <img src="/themes/nfkj/public/assets/images/labright.png" alt="">
                        </a>
                    </div>


                    <div class="go1 go2">
                        <a href="/portal/list/index.html?id=89">
                            <img src="/themes/nfkj/public/assets/images/lableft.png" alt="">
                            <span>Helium Ion Microscope</span>
                        </a>
                    </div>


                    <div class="go1 go3">
                        <a href="/portal/list/index.html?id=90">
                            <img src="/themes/nfkj/public/assets/images/lableft.png" alt="">
                            <span>Talos TEM</span>
                        </a>
                    </div>


                    <div class="go1 go4">
                        <a href="/portal/list/index.html?id=91">
                            <img src="/themes/nfkj/public/assets/images/lableft.png" alt="">
                            <span>Scanning Electron Mrcroscope</span>
                        </a>
                    </div>


                    <div class="go1 go5">
                        <a href="/portal/list/index.html?id=92">
                            <span>Cs-corrected Environmental TEM</span>
                            <img src="/themes/nfkj/public/assets/images/labright.png" alt="">
                        </a>
                    </div>

                    <div class="back">
                        <a>
                            Go on
                        </a>
                    </div>
                </div>
            </div>
            <h5></h5>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $(".main .two .laball .lab1 .back").click(function(){
            $(".main .two .laball .lab1").hide();
            $(".main .two .laball .lab2").show()
        })

        $(".main .two .laball .lab2 .back").click(function(){
            $(".main .two .laball .lab2").hide();
            $(".main .two .laball .lab1").show()
        })
    })
</script>
</body>
</html>