<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="images/jpg" href="./images/favicon.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">-->
    <title>LJH Research Group </title>
    <!--     <title> 南方科技大学</title>-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
    <script src="/js/swiper.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/common.js"></script>
</head>

<body style="">
<div class="header-wrapper">
    <div class="header">
        <div class="logo">
            <a href="http://www.sustc.edu.cn/en/">
                <img src="./images/201809011747282038.png" alt="LOGO">
            </a>
        </div>
        <h1>LJH Research Group</h1>
    </div>
</div>

<div class="nav-wrapper">
    <div class="nav">
        <div class="pc-nav">
            <ul>
                <li class="">
                    <a href="temp.html">Home</a>
                </li>
                <li class="dropdown">

                    <a href="member.html">
                        Group	                        </a>
                    <ul class="dropdown-menu">
                        <li class="">

                            <a href="leassder.html">The group leader</a>

                        </li>
                        <li class="">

                            <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=77">Current  Members</a>

                        </li>
                        <li class="">

                            <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=78">Group pictures</a>

                        </li>
                        <li class="">

                            <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=79">Alumni</a>

                        </li>
                    </ul>
                </li>
                <li class="">

                    <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=80">Research</a>

                </li>
                <li class="">

                    <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=81">Publications</a>

                </li>
                <li class="">

                    <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=83">Lab Resources</a>

                </li>
                <li class="">

                    <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=93">News</a>

                </li>
                <li class="">

                    <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=94">Contact us</a>

                </li>

            </ul>
        </div>
        <div class="search">
            <form action="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=93" method="post">
                <input type="text" placeholder="Enter keyword here..." name="key">
                <input type="submit" value="">
            </form>
        </div>
    </div>
</div>
<!--移动端头部-->
<div class="phone-header">
    <div class="nav-logo">
        <a href="http://jqhphy.sustech.edu.cn/#">
            <img src="/images/nav-button.jpg">
        </a>
    </div>
    <div class="logo">
        <a href="http://jqhphy.sustech.edu.cn/">
            <img src="/images/201809011747282038.png" alt="LOGO">
        </a>
    </div>
</div>
<!--移动端导航-->
<div class="phone-nav">
    <ul>
        <li><a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=74" target="">Home</a></li>
        <li><a href="http://jqhphy.sustech.edu.cn/articl_mp2.html" target="">Group</a></li>
        <li><a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=80" target="">Research</a></li>
        <li><a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=81" target="">Publications</a></li>
        <li><a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=83" target="">Lab Resources</a></li>
        <li><a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=93" target="">News</a></li>
        <li><a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=94" target="">Contact us</a></li>
    </ul>

    <div class="search">
        <form action="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=93" method="post">
            <input type="text" placeholder="Enter keyword here..." name="key">
            <input type="submit" value=" ">
        </form>
    </div>
</div>
<!--banner-->
<div class="banner">
    <!-- Swiper -->
    <div class="swiper-container swiper-container1 swiper-container-horizontal" style="height: 100%;">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

            <div class="swiper-slide swiper-slide-active" style="width: 1200px;">

                <a href="http://jqhphy.sustech.edu.cn/">
                    <picture>
                        <source srcset="http://jqhphy.sustech.edu.cn/upload/admin/20180905/201809051150583335.png" media="(max-width:768px)">
                        <img srcset="http://jqhphy.sustech.edu.cn/upload/admin/20180905/201809051154199094.png">
                    </picture>
                </a>
            </div>


            <div class="swiper-slide swiper-slide-next" style="width: 1200px;">

                <a href="http://jqhphy.sustech.edu.cn/">
                    <picture>
                        <source srcset="http://jqhphy.sustech.edu.cn/upload/" media="(max-width:768px)">
                        <img srcset="http://jqhphy.sustech.edu.cn/upload/admin/20181224/201812241431091639.jpg">
                    </picture>
                </a>
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>

<!--lab-->
<div class="lab-wrapper">
    <div class="lab">
        <div class="left">
            <img src="/images/201812201743286132.jpg">
        </div>
        <div class="right">
            <h4>Introduction to the lab</h4>
            <p>The  research group focuses on applying/developing varied advanced transmission electron microscopy techniques (HADDF, HREM, EELS, EDS, Lorentz TEM, electron holography, electron tomography, in situ TEM and so on) to determine the nanostructures/atomic structure of energy materials, thus providing insight into observed physical properties.This is of particular importance as electronic devices scale to ever vanishingly small dimensions, when the detailed arrangement of atoms at interfaces even inside materials begins to critically influence material properties.<br>We focus on three research areas: <strong>Transmission Electron </strong><strong>Microscopy; Thermoelectric Materials; Structure-p</strong><strong>roperty Relationship</strong>.</p>        </div>
    </div>
</div>
<!--public-->
<div class="public-wrapper">
    <div class="public">
        <h4>Selected Publications</h4>
        <div class="color"></div>
        <div class="qiehuan">
            <div class="swiper-container swiper-container2 swiper-container-horizontal">

                <div class="swiper-wrapper" style="transform: translate3d(-4752px, 0px, 0px); transition-duration: 0ms;">

                    <div class="swiper-slide" style="width: 1188px;">
                        <div class="left">
                            <a href="http://jqhphy.sustech.edu.cn/"><img src="/images/201812240941325779.png"></a>
                        </div>
                        <div class="right">
                            <p></p><p style="text-align: justify;"><span style="font-family: &quot;times new roman&quot;; font-size: 18px;">I. &nbsp;H. J. Wu, L.-D. Zhao, F.S. Zheng, D. Wu, Y. L. Pei, X. Tong, Mercouri G. Kanatzidis, <strong>J. Q. He</strong>. Broad temperature plateau for thermoelectric figure of merit <em>ZT</em>&gt;2 in phase separated PbTe<sub>0.7</sub>S<sub>0.3</sub>, <span style="font-family: &quot;times new roman&quot;; font-size: 18px; color: rgb(255, 0, 0);"><em><strong>Nature Communications</strong></em></span> , 5(2014)4515.</span></p><a href="https://www.nature.com/articles/ncomms5515" target="_blank" style="color:#ed6c00">(PDF)</a><p></p>
                        </div>
                    </div>
                    <div class="swiper-slide" style="width: 1188px;">
                        <div class="left">
                            <a href="http://jqhphy.sustech.edu.cn/"><img src="/images/201812290958569071.png"></a>
                        </div>
                        <div class="right">
                            <p></p><p style="text-align: justify;"><span style="font-family: &quot;times new roman&quot;; font-size: 18px;">II.&nbsp; D. Wu, X. Tong, L.D. Zhao, W. Li, L.J. Wu, Q, Tan, Y.L. Pei, L. Huang, J.F. Li, Y.M. Zhu, M.G. Kanatzidis and <strong>J. Q. He</strong>. Superior Thermoelectric Performance in a PbTe-PbS Pseudo-binary: Extremely Low Thermal Conductivity and Modulated Carrier Concentration,<span style="font-family: &quot;times new roman&quot;; font-size: 18px; color: rgb(255, 0, 0);"><em><strong>Energy and Environmental Science</strong></em></span>, 8(2015)2056.&nbsp;</span></p><a href="https://pubs.rsc.org/en/content/articlelanding/2015/ee/c5ee01147g#!divAbstract" target="_blank" style="color:#ed6c00">(PDF)</a><p></p>
                        </div>
                    </div>
                    <div class="swiper-slide" style="width: 1188px;">
                        <div class="left">
                            <a href="http://jqhphy.sustech.edu.cn/"><img src="/images/201812191132297635.png"></a>
                        </div>
                        <div class="right">
                            <p></p><p style="text-align: justify;"><span style="font-family: &quot;times new roman&quot;; font-size: 18px;">III.&nbsp; D. Wu, L.-D. Zhao, F.S. Zheng, M.G. Kanatzidis and <strong>J. Q. He</strong>. Understanding the Process of Nanostructuring in Thermoelectrics and its Effects on Lattice Thermal Conductivity, <span style="font-family: &quot;times new roman&quot;; font-size: 18px; color: rgb(255, 0, 0);"><em><strong>Advanced Materials</strong></em></span>, 28(2016)2737.</span></p><a href="https://onlinelibrary.wiley.com/doi/full/10.1002/adma.201505638" target="_blank" style="color:#ed6c00">(PDF)</a><p></p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-prev" style="width: 1188px;">
                        <div class="left">
                            <a href="http://jqhphy.sustech.edu.cn/"><img src="/images/201812191133184863.png"></a>
                        </div>
                        <div class="right">
                            <p></p><p style="text-align: justify;"><span style="font-family: &quot;times new roman&quot;; font-size: 18px;">IV. Q. Lu, W. Li, D. Wu, C. Chang, Y. Guo, C. Zhou, M. Wu, X. Ma, H. Qin, G.Wang, L.-D. Zhao, L. Huang, C. Liu, and<strong> J.Q. He</strong>. Unexpected large hole effective masses in SnSe revealed by angle resolved photoemission spectroscopy, <span style="font-family: &quot;times new roman&quot;; font-size: 18px; color: rgb(255, 0, 0);"><em><strong>Physical Review Letters</strong></em></span>, 119(2017)116401.</span></p><a href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.119.116401" target="_blank" style="color:#ed6c00">(PDF)</a><p></p>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide-active" style="width: 1188px;">
                        <div class="left">
                            <a href="http://jqhphy.sustech.edu.cn/"><img src="/images/201812191133412786.png"></a>
                        </div>
                        <div class="right">
                            <p></p><p style="text-align: justify;"><span style="font-family: &quot;times new roman&quot;; font-size: 18px;">V.&nbsp; C. Chang, M. Wu, D. He, Y. Pei, C.Wu, X. Wu, H. Yu, F. Zhu, K. Wang, Y. Chen, L. Huang, J. Li, <strong>J. Q. He</strong>*, L.D. Zhao*. 3D charge and 2D phonon transports leading to high out-of-plane <em>ZT</em> in n-type SnSe crystals,<span style="font-family: &quot;times new roman&quot;; font-size: 18px; color: rgb(255, 0, 0);"><em><strong> Science</strong></em></span>, 360(2018)778. &nbsp;</span></p><a href="http://science.sciencemag.org/content/360/6390/778" target="_blank" style="color:#ed6c00">(PDF)</a><p></p>
                        </div>
                    </div>
                    <!--                    <div class="swiper-slide">
                       <div class="left">
                           <a href="#"><img src="/themes/nfkj/public/assets//themes/nfkj/public/assets/images/pic02.png"/></a>
                       </div>
                       <div class="right">
                           <p>V.  C. Chang,M. Wu, D. He, Y. Pei, C.Wu, X. Wu, H. Yu, F. Zhu, K. Wang, Y. Chen, L. Huang, J. Li, J. Q. He*, L.D. Zhao*, 3D charge and 2D phonon transports leading to high out-of-plane ZT in n-type SnSe crystals, Science, 360(2018)778 (PDF) </p>
                       </div>
                   </div>-->
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        <div class="arrow">
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></div>
            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></div>
        </div>
        <h5>
            <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=81">
                <img src="/images/click.png">
                <span>Full Publications</span>
            </a>
        </h5>
    </div>
</div>

<div class="news-wrapper">
    <div class="news">
        <h4>Latest news</h4>
        <ul>

            <li>
                <a href="http://jqhphy.sustech.edu.cn/portal/article/index.html?id=526&amp;cid=136">
                    <div class="data">
                        <i>23</i>
                        <span>2019.04</span>
                    </div>
                    <p>zhenhua 's paper is accepted by Advanced Functional Materials. Congratulations and well done! </p>
                    <img src="/images/201905281540485105.jpg">
                </a>
            </li>


            <li>
                <a href="http://jqhphy.sustech.edu.cn/portal/article/index.html?id=507&amp;cid=136">
                    <div class="data">
                        <i>24</i>
                        <span>2019.02</span>
                    </div>
                    <p>Di 's paper is accepted by Advanced Functional Materials. Congratulations and well done! </p>
                    <img src="/images/201902171615304358.png">
                </a>
            </li>


            <li>
                <a href="http://jqhphy.sustech.edu.cn/portal/article/index.html?id=504&amp;cid=136">
                    <div class="data">
                        <i>14</i>
                        <span>2019.02</span>
                    </div>
                    <p>Talents Wanted </p>
                    <img src="/images/201902171233256247.png">
                </a>
            </li>


            <li>
                <a href="http://jqhphy.sustech.edu.cn/portal/article/index.html?id=432&amp;cid=106">
                    <div class="data">
                        <i>30</i>
                        <span>2018.03</span>
                    </div>
                    <p>Cheng Chang and Dongshengs' paper is accepted by Science. Congratulations and well done! </p>
                    <img src="/images/201901071725309099.jpg">
                </a>
            </li>


        </ul>
        <h5>
            <a href="http://jqhphy.sustech.edu.cn/portal/list/index.html?id=93">
                <span style="color: #003F43;">Read More</span>
                <img src="/images/more.png">
            </a>
        </h5>
    </div>
</div>
<!--底部-->
<div class="footer">
    <a href="http://jqhphy.sustech.edu.cn/#">Copyright Nanostructures and Nano energy materials</a> | <a href="http://www.baidu.com/">17099926号-1</a>
</div>
<!--回到顶部-->
<div class="gotop">
    <img src="/images/gotop.png">
</div>

<script>
    $(function () {

        var swiper = new Swiper('.swiper-container1', {
            autoplay:true,//等同于以下设置
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            }
        });

        var swiper = new Swiper('.swiper-container2', {
            autoplay:true,//等同于以下设置
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            }
        });
    })
</script></body></html>